// inknut antiqua
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
// /inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
// julee
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Julee&display=swap');

*,
html {
    scroll-behavior: smooth;
}

$primary-color: #FCDEC0;
$background-color: #E5B299;
$secondary-color: #7D5A50;
$gray-color: #0000002d;
$gray-secondary: #5e606b;

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

// nav
.nav-title {
    width: 100%;
    height: 21%;
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fcdec0;
    border: 1px solid $primary-color;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

    .logo-container {
        width: 5vw;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .nav-list {
        height: 21%;
        display: flex;
        align-items: center;
        cursor: pointer;

        .list {
            display: flex;
            flex-direction: row;
            background-color: rgba(63, 63, 63, 0.11);
            border-radius: 30rem;

            .navs {
                list-style: none;
                padding: 10px 30px;
                font-size: 1vw;
                font-family: 'inter';
                font-weight: 600;

                &:hover {
                    height: 21%;
                    color: $secondary-color;
                    transition: all .2s ease-in-out;
                    font-weight: 400;
                    background: #fcdec0;
                    padding: 10px 30px;
                }
            }
        }
    }

    .donate-btn {
        height: 3vw;
        display: flex;
        align-items: center;
        text-align: center;

        a {
            .donate {
                display: flex;
                align-items: center;
                text-align: center;
                all: unset;
                width: 7vw;
                height: 3vh;
                padding: 6px;
                font-size: .8vw;
                background-color: $secondary-color;
                color: rgb(255, 255, 255);
                border-radius: 30rem;
                font-family: 'inter';
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
                    background: white;
                    border: 1px solid $secondary-color;
                    color: #7D5A50;
                    transition: all .1s ease-in;
                }
            }
        }
    }
}

// Hero section
.Hero-section {
    width: 100vw;
    max-width: 100%;

    .title-spans {
        width: 100vw;
        min-width: 50%;
        height: 12vw;
        display: flex;
        justify-content: center;
        align-items: baseline;
        background-color: #fcdec0;


        .c-title {
            padding: .5rem;
            font-size: 4.5vw;
            display: flex;
            align-items: baseline;
            text-shadow: 1px 1px $primary-color, 0 0 $secondary-color, 0 0 5px rgb(0, 0, 27);
            animation: move 5s infinite ease-in-out;
        }

        @keyframes move {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-7px);
            }
        }

        .title1 {
            font-family: 'inter';
            font-weight: 600;
        }

        .title2 {
            font-family: "Inknut Antiqua", serif;
            color: #7D5A50;
        }

        .title3 {
            font-family: "Julee", cursive;
            color: rgba(97, 97, 97, 0.473);
            font-size: 4vw;
        }

        .title4 {
            font-family: "Inknut Antiqua", serif;
            color: $gray-secondary;
        }
    }

    .subtitle {
        width: 100%;
        height: 25vw;
        background: $background-color;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;

        .subtitle-statement {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-left: 3%;

            .statement {
                width: 44vw;
                font-size: 2.5vw;
            }

            .sub_statement {
                margin-top: 2%;
                font-size: 1.1vw;
                color: rgba(0, 0, 0, 0.562);
                width: 100%;

                &:hover {
                    color: white;
                    transition: all .1s ease-in-out;
                }
            }

            .join-btn-arrows {
                display: flex;
                flex-direction: row;
                align-items: center;

                a {
                    .join-us {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 14vw;
                        height: 3.2vw;
                        margin-top: 2.2vw;
                        border-radius: 30rem;
                        text-align: center;
                        font-weight: 600;
                        font-size: 1vw;
                        background-color: $primary-color;

                        &:hover {
                            background-color: #7D5A50;
                            color: white;
                            border: 1px solid white;
                            transition: all .1s ease-in;
                        }
                    }
                }

                img {
                    width: 22vw;
                    height: auto;
                    margin-top: 2.2vw;
                    margin-left: 3vw;
                }
            }
        }

        .card {
            background: $secondary-color;
            width: 24vw;
            height: 31.4vw;
            border: 2px solid black;
            border-radius: 20px;
            position: relative;
            margin-top: 9%;
            margin-right: 2%;
            padding-top: 2.9rem;
            z-index: 998;

            .img-box {
                background-color: white;
                width: 19vw;
                height: 14vw;
                display: flex;
                margin: 0 auto;
                border-radius: 20px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }

            .card-content {
                display: flex;
                flex-direction: column;
                margin: 0 auto;

                h4 {
                    font-size: 1.2vw;
                    margin-top: 6%;
                    margin-bottom: 4%;
                    text-align: center;
                    color: rgb(255, 255, 255);
                }

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    cursor: context-menu;

                    .heading {
                        padding: 6px;
                        font-size: 1.1vw;
                        font-weight: 600;
                        color: rgb(221, 221, 221);
                    }

                    .semi-content {
                        font-size: 1vw;
                        margin-left: 1vw;
                        padding: .55vw;
                        color: rgba(172, 172, 172, 0.575);

                        &:hover {
                            color: rgb(255, 255, 255);
                            transition: all .1s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    .hero-footer {
        width: 100%;
        height: 11rem;
        background: $secondary-color;
        display: flex;
        align-items: center;

        .black-div {
            width: 45%;
            height: 55%;
            background: black;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 14%;

            h3 {
                color: $secondary-color;
                font-family: 'inter';
                font-size: 1.2vw;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

// About section
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7%;
    cursor: pointer;

    .adout-title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #7D5A50;
        width: 10vw;
        height: 3.5vw;
        box-shadow: .5vw -.5vw black;
        font-size: 1.4vw;
        color: white;
    }

    .owner-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
        gap: 4vw;
    
        .lead,
        .admin {
            background-repeat: center;
            background-size: cover;
            border: 2px solid #000;
            order: 1;
            justify-self: center;
            width: 16vw;
            height: 16vw;
            position: relative;
    
            p {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 6px;
                font-size: 1.5vw;
                font-weight: 600;
                opacity: 0;
                background: black;
                color: white;
                transition: opacity 0.3s ease-in;
            }
    
            &:hover p {
                opacity: 1;
            }
    
            &:hover {
                filter: drop-shadow(20px -20px 4px #4444); 
            }
        }
    
        .lead {
            background-image: url(./assets/leads/Lead.jpg);
        }
    
        .admin {
            background-image: url(./assets/leads/Admin.jpg);
        }
    }
    

    .mission {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            text-align: center;
            margin-top: 5%;
            margin-bottom: 2%;
            font-size: 2vw;
            font-family: "inknut antiqua";
            font-weight: 500;
        }

        .mission-statement {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 65%;
            height: 18vh;
            border: 2px solid black;
            border-radius: 10px;
            padding: 3rem;
            background: $primary-color;

            p {
                font-size: 1.4em;
            }
        }
    }
}

// Our work
#Ourwork {
    height: 2rem;
}

.ourwork-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ourwork {
        h3 {
            text-align: center;
            margin-top: 4%;
            margin-bottom: 1%;
            font-size: 2vw;
            font-family: "inknut antiqua";
            font-weight: 500;
        }

        .works {
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;
            border-radius: 7px;
            padding: 1rem;

            ul {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                text-align: center;
                overflow-y: auto;
                height: 20vw;
                box-sizing: content-box;
                cursor: pointer;

                li {
                    font-size: 2rem;
                    width: 100%;
                    justify-content: center;
                    list-style: none;
                    color: rgb(0, 0, 0);
                    font-size: large;
                    background: rgb(216, 216, 216);
                    border: 1px solid rgb(216, 216, 216);
                    border-radius: 2px;
                    margin-bottom: 4px;
                    padding: 8px;

                    &:hover {
                        transition: all .2 ease-in;
                        border: 1px solid black;
                        background-color: #FCDEC0;
                    }
                }
            }

            /* Hide scrollbar */
            ::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }
        }
    }

    // work images
    .images {
        margin-top: 4rem;
        margin-bottom: 1rem;
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: calc(70% + 8px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        img {
            width: 22vw;
            height: 17vw;
            margin: 4px;
            scroll-snap-align: start;
            border: 1px solid black;

            &:hover {
                border: 2px solid black;
                transition: all .1s ease-in-out;
            }
        }

        // scrollbar
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #FCDEC0;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #7D5A50;
            border-radius: 5px;
        }
    }

}

// gallery
#Gallery {
    height: 3rem;
}

.section-gallery {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 1%;

    .gallery-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #7D5A50;
        width: 10vw;
        height: 3.5vw;
        box-shadow: .5vw -.5vw black;
        margin-bottom: 4rem;
        margin-top: 3.5rem;
        font-size: 1.4vw;
        color: white;
    }

    // grid gallery
    .grid-gallery {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 35rem;
        overflow-y: auto;
        margin-bottom: 3rem;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

// footer
.section-footer {
    background-color: #000;
    opacity: .8;

    .footer-head {
        width: 100%;
        height: 10vh;
        background: #B4846C;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 70%;

        h3 {
            display: flex;
            justify-content: flex-start;
            font-size: 1.5vw;
            color: rgb(0, 0, 0);
        }

        .media {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 1rem;

            .social-media {
                display: flex;
                align-items: center;
                width: 2.5vw;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

    .footer-body {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2vw;

        .log-icons {
            width: 20vw;
            height: 20vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            img {
                width: 28vw;
            }
        }

        .address {
            width: 20vw;
            height: 20vw;
            background: rgb(231, 231, 231);
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(0, 0, 0);
        }

        .contact {
            width: 20vw;
            height: 20vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;

            .contact {
                width: 20vw;
                height: 12vh;
                background-color: whitesmoke;
                color: black;
            }
        }
    }
}

// top button
.top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background: #FCDEC0;
    border: 2px solid black;
    cursor: pointer;
    visibility: hidden;
    transition: visibility 0.3s ease;
    z-index: 3;
    font-weight: 500;

    a {
        text-decoration: none;
        color: #000000;
    }

    &.visible {
        visibility: visible;
        transition: all .1s ease-in-out;
    }
}

// media screens (
// ms: 320, mm: 375, ml: 425, 
// tablet: 768, 
// laptop:1024, laptop large: 1440)
/* Mobile screens (ms: 320, mm: 375, ml: 425) */
/* Mobile screens (max-width: 320px) */
@media screen and (max-width: 320px) {

    .nav-title {
        position: sticky;
        left: 0;
        top: 0;
        padding: 2px;

        .logo-container {
            width: 9vw;
            height: 15%;
            margin-top: 4px;
        }

        .nav-list {
            .list {
                .navs {
                    font-size: 6px;
                    padding: 4px 12px;

                    &:hover {
                        padding: 4px 12px;
                    }
                }
            }
        }

        .donate-btn {
            display: none;
        }
    }

    .Hero-section {
        .title-spans {
            .c-title {
                text-shadow: 1px 1px $primary-color, 0 0 $secondary-color, 0 0 2px rgb(0, 0, 27);
            }
        }

        .subtitle {
            .subtitle-statement {
                margin-left: 0;

                .sub_statement {
                    color: rgb(0, 0, 0);
                }
                .join-btn-arrows{
                    a{
                        .join-us{
                            border: none;
                            font-size: 5px;
                        }
                    }
                }
            }

           
            .card {
                border-radius: 4px;
                margin-left: -4.5rem;
                top: 3.5%;
                padding-top: 6px;

                .img-box {
                    border-radius: 4px;
                }

                .card-content {
                    h4 {
                        margin-top: 5px;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .heading {
                            font-size: 6px;
                            color: white;
                            margin-bottom: -3px;
                            padding-top: 0;
                        }

                        .semi-content {
                            padding: 1px;
                            color: rgb(211, 210, 210);
                            margin-left: .7rem;
                        }
                    }
                }
            }
        }

        .hero-footer {
            height: 2rem;

            .black-div {
                width: 45%;
                height: 50%;
                position: relative;
                left: -.75rem;
                h3 {
                    font-size: 1.2vw;
                    color: white;
                }
            }
        }
    }

    .about-section{
        .adout-title{
            width: 3.8rem;
            height: 1.6rem;
            font-size:x-small;
        }
        .owner-details {
            .lead {
                width: 4rem;
                height: 4rem;
                filter: drop-shadow(7px -7px 2px #4444);
            }

            .admin {
                width: 4rem;
                height: 4rem;
                filter: drop-shadow(7px 7px 2px #4444);
            }
        }

        .mission {
            width: 98%;

            h3 {
                font-size: 10px;
                font-weight: 700;
            }

            .mission-statement {
                height: 6.5rem;
                width: 85%; 
                word-break: normal;

                .statement {
                    font-size: 1vh;
                }
            }
        }
    }

    .ourwork-section {
        margin-top: -2rem;

        .ourwork {
            h3 {
                font-size: 10px;
                font-weight: 700;
                margin-bottom: -1.5rem;
            }

            .works {
                display: flex;
                margin: 0 auto;
                margin-top: 1rem;
                width: 95%;

                ul {
                    height: 10rem;

                    li {
                        font-size: 10px;
                    }
                }
            }
        }

        .images {
            width: 86%;
            margin-top: -1rem;
            margin-bottom: -1rem;

            img {
                width: 14rem;
                height: 10rem;
            }

            // scrollbar
            &::-webkit-scrollbar {
                width: 10px;
                height: 2px;
            }

            &::-webkit-scrollbar-thumb {
                background: #FCDEC0;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-track {
                background: #7D5A50;
                border-radius: 4px;
            }
        }
    }

    .section-gallery {
        margin-top: -3rem;

        .gallery-title {
            width: 3.8rem;
            height: 1.6rem;
            font-size:x-small;
            margin-bottom: 1rem;
        }
        .grid-gallery{
            width: 88%;
            height: 20rem;
            margin-left: 1rem;
        }
    }

    .section-footer {
        .footer-head {
            height: 2rem;

            h3 {
                font-size: 10px;
            }

            .media {
                gap: 4px;

                img {
                    width: 1rem;
                }
            }
        }

        .footer-body {
            .address {
                font-size: small;
            }

            .contact {
                gap: .2rem;
            }
        }
    }

    .top {
        width: 35px;
        height: 35px;
        float: right;
        left: 10px;
        bottom: 10px;
    }
}

/* Mobile screens (min-width: 321px) and (max-width: 375px) */
@media screen and (min-width: 321px) and (max-width: 375px) {

    .nav-title {
        padding: 8px;

        .logo-container {
            width: 9vw;
            height: 15%;
            margin-top: 4px;
        }

        .nav-list {
            .list {
                .navs {
                    font-size: 7px;
                    padding: 5px 15px;

                    &:hover {
                        padding: 5px 15px;
                    }
                }
            }
        }

        .donate-btn {
            display: none;
        }
    }

    .Hero-section {
        .title-spans {
            .c-title {
                text-shadow: 1px 1px $primary-color, 0 0 $secondary-color, 0 0 2px rgb(0, 0, 27);
            }
        }

        .subtitle {
            .subtitle-statement {
                margin-left: 0;

                .sub_statement {
                    color: rgb(0, 0, 0);
                }

                .join-btn-arrows{
                    a{
                        .join-us{
                            border: none;
                            font-size: 6px;
                        }
                    }
                }
            }

            .card {
                border-radius: 4px;
                margin-left: -4.5rem;
                top: 3%;
                padding-top: .70rem;

                .img-box {
                    border-radius: 4px;
                }

                .card-content {
                    h4 {
                        margin-top: 5px;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .heading {
                            font-size: 6px;
                            color: white;
                            margin-bottom: -3px;
                            padding-top: 0;
                        }

                        .semi-content {
                            padding: 1px;
                            color: rgb(211, 210, 210);
                            margin-left: .7rem;
                        }
                    }
                }
            }
        }

        .hero-footer {
            height: 3rem;

            .black-div {
                width: 45%;
                height: 45%;
                position: relative;
                left: -.75rem;
                h3 {
                    font-size: 1.2vw;
                    color: white;
                }
            }
        }
    }

    .about-section {
        .adout-title{
            display: flex;
            margin: 0 auto;
            width: 3.8rem;
            height: 1.6rem;
            font-size:x-small;
        }
        .owner-details {
            .lead {
                width: 4.5rem;
                height: 4.5rem;
                filter: drop-shadow(10px -10px 4px #4444);
            }

            .admin {
                width: 4.5rem;
                height: 4.5rem;
                filter: drop-shadow(10px -10px 4px #4444);
            }
        }

        .mission {
            h3 {
                font-size: 10px;
                font-weight: 700;
            }

            .mission-statement {
                width: 83%;
                word-wrap: break-word;
                word-break: normal;

                .statement {
                    font-size: smaller;
                }
            }
        }
    }

    .ourwork-section {
        margin-top: -2rem;

        .ourwork {
            h3 {
                font-size: 10px;
                font-weight: 700;
                margin-bottom: -1.5rem;
            }

            .works {
                display: flex;
                margin: 0 auto;
                margin-top: 1rem;
                width: 87%;

                ul {
                    height: 10rem;

                    li {
                        font-size: 10px;
                    }
                }
            }
        }

        .images {
            margin-top: -1rem;
            margin-bottom: -1rem;
            width: 80%;

            img {
                width: 16rem;
                height: 12rem;
            }

            // scrollbar
            &::-webkit-scrollbar {
                width: 10px;
                height: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: #FCDEC0;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-track {
                background: #7D5A50;
                border-radius: 4px;
            }
        }
    }

    .section-gallery{
        margin-top: -3rem;

        .gallery-title {
            width: 3.8rem;
            height: 1.6rem;
            font-size:x-small;
            margin-top: 3rem;
            margin-bottom: 1rem;

        }
        .grid-gallery{
            width: 80%;
        }
    }

    .section-footer {
        .footer-head {
            height: 2rem;

            h3 {
                font-size: 10px;
            }

            .media {
                gap: 4px;
            }
        }

        .footer-body {
            .address {
                font-size: small;
            }

            .contact {
                gap: .2rem;
            }
        }
    }

    .top {
        width: 35px;
        height: 35px;
    }

}

/* Mobile screens (min-width: 376px) and (max-width: 425px) */
@media screen and (min-width: 376px) and (max-width: 425px) {

    .nav-title {
        padding: 8px;

        .logo-container {
            width: 9vw;
            height: 15%;
            margin-top: 4px;
        }

        .nav-list {
            .list {
                .navs {
                    font-size: 7px;
                    padding: 5px 15px;

                    &:hover {
                        padding: 5px 15px;
                    }
                }
            }
        }

        .donate-btn {
            display: none;
        }
    }

    .Hero-section {
        .title-spans {
            .c-title {
                text-shadow: 1px 1px $primary-color, 0 0 $secondary-color, 0 0 2px rgb(0, 0, 27);
            }
        }

        .subtitle {
            .subtitle-statement {
                margin-left: 0;

                .sub_statement {
                    color: rgb(0, 0, 0);
                }

                .join-btn-arrows{
                    a{
                        .join-us{
                            border: none;
                            font-size: 6px;
                        }
                    }
                }
            }

            .card {
                border-radius: 4px;
                margin-left: -4.5rem;
                top: 3%;
                padding-top: .70rem;

                .img-box {
                    border-radius: 4px;
                }

                .card-content {
                    h4 {
                        margin-top: 5px;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .heading {
                            font-size: 6px;
                            color: white;
                            margin-bottom: -3px;
                            padding-top: 0;
                        }

                        .semi-content {
                            padding: 1px;
                            color: rgb(211, 210, 210);
                            margin-left: .7rem;
                        }
                    }
                }
            }
        }

        .hero-footer {
            height: 3rem;

            .black-div {
                width: 45%;
                height: 45%;
                position: relative;
                left: -.75rem;
                h3 {
                    font-size: 1.2vw;
                    color: white;
                }
            }
        }
    }

    .about-section {
        .adout-title{
            display: flex;
            margin: 0 auto;
            width: 5.5rem;
            height: 2.1rem;
            font-size: small;
        }
        .owner-details {
            .lead {
                width: 6rem;
                height: 6rem;
                filter: drop-shadow(10px -10px 2px #4444);
            }

            .admin {
                width: 6rem;
                height: 6rem;
                filter: drop-shadow(10px 10px 2px #4444);
            }
        }

        .mission {
            h3 {
                font-size: 10px;
                font-weight: 700;
            }

            .mission-statement {
                width: 83%;
                word-wrap: break-word;
                word-break: normal;

                .statement {
                    font-size: smaller;
                }
            }
        }
    }

    .ourwork-section {
        margin-top: -2rem;

        .ourwork {
            h3 {
                font-size: 10px;
                font-weight: 700;
                margin-bottom: -1.5rem;
            }

            .works {
                display: flex;
                margin: 0 auto;
                margin-top: 1rem;
                width: 87%;

                ul {
                    height: 10rem;

                    li {
                        font-size: 10px;
                    }
                }
            }
        }

        .images {
            margin-top: -1rem;
            margin-bottom: -1rem;
            width: 80%;

            img {
                width: 16rem;
                height: 12rem;
            }

            // scrollbar
            &::-webkit-scrollbar {
                width: 10px;
                height: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: #FCDEC0;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-track {
                background: #7D5A50;
                border-radius: 4px;
            }
        }
    }

    .section-gallery{
        .gallery-title {
            display: flex;
            margin: 0 auto;
            width: 5.5rem;
            height: 2.1rem;
            font-size: small;
            margin-bottom: 1rem;
        }
        .grid-gallery{
            width: 80%;
        }
    }

    .section-footer {
        .footer-head {
            height: 2rem;

            h3 {
                font-size: 10px;
            }

            .media {
                gap: 4px;
            }
        }

        .footer-body {
            .address {
                font-size: small;
            }

            .contact {
                gap: .2rem;
            }
        }
    }

    .top {
        width: 45px;
        height: 45px;
    }
}

/* Tablet screens (tablet: 768) */
@media screen and (min-width: 426px) and (max-width: 768px) {

    .nav-title {
        padding: 4px;
        .logo-container{
            width: 7vw;
            height: 15%;
            margin-top: 4px;
        }
        .nav-list {
            .list {
                .navs {
                    font-weight: 700;
                    font-size: 1.5vw;
                    padding: 8px 24px;

                    &:hover{
                        padding: 8px 24px;

                    }
                }
            }
        }

        .donate-btn {
            display: none;
        }
    }

    .Hero-section {
        .subtitle {
            .subtitle-statement {
                margin-left: 6rem;
            }

            .card {
                margin-right: 5rem;
                margin-left: -4rem;
                border-radius: 7px;
                padding-top: 2%;
                padding-bottom: 1rem;

                .img-box {
                    border-radius: 7px;
                    margin: auto .75rem auto .77rem;
                }

                .card-content {
                    h4 {
                        font-size: 1.1vw;
                    }

                    ul {
                        margin-top: -.2rem;
                        .heading {
                            font-size: 1.1vw;
                            color: white;
                        }

                        .semi-content {
                            color: rgb(243, 243, 243);
                        }
                    }
                }
            }
        }

        .hero-footer {
            height: 10vw;
            display: flex;
            justify-content: flex-start;

            .black-div {
                margin: 0 auto;

                margin-left: 12%;
            }
        }

    }

    .about-section {
        .adout-title {
            width: 6rem;
            height: 2.2rem;
            font-size: medium;
            box-shadow: 4px -4px black;
        }

        .owner-details {
            .lead {
                width: 10rem;
                height: 10rem;

                p {
                    width: 10rem;
                    height: 10rem;
                }
            }

            .admin {
                width: 10rem;
                height: 10rem;

                p {
                    width: 10rem;
                    height: 10rem;
                }
            }
        }

        .mission {
            .mission-statement {
                width: 80%;
                p {  
                    padding: 1rem;
                    font-size: 14px;
                }
            }
        }
    }

    .ourwork-section {
        .ourwork {
            h3 {
                margin-top: 2%;
            }

            .works {
                ul {
                    height: 28%;

                    li {
                        font-size: 1.7vw;
                    }
                }
            }
        }

        .images {
            margin-bottom: -1rem;
            width: 80%;

            img {
                width: 16rem;
                height: 14rem;
            }
        }
    }

    .section-gallery {
        display: flex;
        margin: 0 auto;
        margin-top: -2rem;
        width: 95%;
        .gallery-title {
            width: 6rem;
            height: 2.2rem;
            font-size: medium;
            box-shadow: 4px -4px black;
        }
        .grid-gallery{
            height: 20rem;
        }
    }

    .section-footer {
        .footer-head {
            height: 7vh;
            padding: 7px;

            h3 {
                font-size: 2.2vw;
            }
        }
    }

    .top {
        width: 6vw;
        height: 6vw;

        a {
            font-size: small;
        }
    }
}

/* Laptop screens (laptop: 1024) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .nav-title {
        .nav-list {
            .list {
                .navs {
                    padding: .8vw 1vw;
                    margin: auto 24px auto 24px;
                    font-size: 1.2vw;

                    &:hover {
                        padding: .8vw 1vw;
                    }
                }
            }
        }

        .donate-btn {
            a{
                .donate {
                    width: 6rem;
                    height: 1.5rem;
                    font-size: 1.1vw;
                }
            }
        }
    }

    .Hero-section {
        .subtitle {
            .card {
                height: 34vw;
                margin-top: 10rem;
                border-radius: 8px;
                padding-top: 1.5rem;

                .img-box {
                    border-radius: 7px;
                }

                .card-content {
                    ul {
                        .heading {
                            font-size: 1.2vw;
                        }

                        .semi-content {
                            font-size: 1.2vw;
                        }
                    }

                }
            }
        }
    }

    .about-section {
        .mission {
            .mission-statement {
                padding: 2rem;
                height: 10rem;
                width: 80%;

                .statement {
                    font-size: 2vw;
                }
            }
        }
    }

    .ourwork-section {
        .ourwork {
            .works {
                ul {
                    height: 25vw;
                }
            }
        }
    }

    .section-gallery{
        width: 90%;
        display: flex;
        margin: 0 auto;
    }

    .section-footer {
        .footer-head {
            height: 12vh;

            h3 {
                font-size: 2vw;
            }

            .media {
                .social-media {
                    width: 3vw;
                }
            }
        }
    }

    .top {
        width: 5.5vw;
        height: 5.5vw;
    }
}

/* Larger laptop screens (laptop large: 1440) */
@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .nav-title {
        .nav-list {
            .list {
                .navs {
                    padding: 10px 32px;
                    font-size: 1.1vw;
                }
            }
        }

        .donate-btn {
            .donate {
                font-size: .9vw;
            }
        }
    }

    .Hero-section {
        .subtitle {
            .subtitle-statement {
                left: 0;
            }

            .card {
                margin-top: 11rem;
                right: 0;
                padding-top: 2rem;
            }
        }
    }

    .about-section {
        .mission {
            .mission-statement {
                padding: 2rem;
                height: 10rem;
                width: 80%;
            }
        }
    }

    .ourwork-section {
        .images {
            img {
                width: 18vw;
                height: 18vw;
            }
        }
    }

    .section-gallery{
        width: 90%;
        display: flex;
        margin: 0 auto;
    }

    .section-footer {
        .footer-head {
            height: 6vw;
        }
    }

    .top {
        width: 4vw;
        height: 4vw;
    }
}