// inknut antiqua
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
// /inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
// julee
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Julee&display=swap');

*,
html {
    scroll-behavior: smooth;
}

$primary-color: #FCDEC0;
$background-color: #E5B299;
$secondary-color: #7D5A50;
$gray-color: #0000002d;
$gray-secondary: #5e606b;

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

// nav
.nav-title {
    width: 100%;
    height: 21%;
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fcdec0;
    border: 1px solid $primary-color;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

    .logo-container {
        width: 5vw;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .nav-list {
        height: 21%;
        display: flex;
        align-items: center;
        cursor: pointer;

        .list {
            display: flex;
            flex-direction: row;
            background-color: rgba(63, 63, 63, 0.11);
            border-radius: 30rem;

            .navs {
                list-style: none;
                padding: .7vw 1vw;
                margin: auto 28px auto 28px;
                font-size: 1vw;

                &:hover {
                    height: 21%;
                    color: $secondary-color;
                    transition: all .2s ease-in-out;
                    font-weight: 400;
                    background: #fcdec0;
                    padding: 9px 15px;
                }
            }
        }
    }

    .donate-btn {
        height: 3vw;
        display: flex;
        align-items: center;
        text-align: center;

        .donate {
            all: unset;
            width: 7vw;
            height: 3vh;
            padding: 6px;
            font-size: .8vw;
            background-color: $secondary-color;
            color: rgb(255, 255, 255);
            border-radius: 30rem;
            font-family: 'inter';
            font-weight: 600;
            cursor: pointer;

            &:hover {
                box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
                background: white;
                border: 1px solid $secondary-color;
                color: #7D5A50;
                transition: all .1s ease-in;
            }
        }
    }
}

// Hero section
.Hero-section {
    width: 100vw;
    max-width: 100%;

    .title-spans {
        width: 100vw;
        min-width: 50%;
        height: 12vw;
        display: flex;
        justify-content: center;
        align-items: baseline;
        background-color: #fcdec0;


        .c-title {
            padding: .5rem;
            font-size: 4.5vw;
            display: flex;
            align-items: baseline;
            text-shadow: 1px 1px $primary-color, 0 0 $secondary-color, 0 0 5px rgb(0, 0, 27);
            animation: move 5s infinite ease-in-out;
        }

        @keyframes move {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-7px);
            }
        }

        .title1 {
            font-family: 'inter';
            font-weight: 600;
        }

        .title2 {
            font-family: "Inknut Antiqua", serif;
            color: #7D5A50;
        }

        .title3 {
            font-family: "Julee", cursive;
            color: rgba(97, 97, 97, 0.473);
            font-size: 4vw;
        }

        .title4 {
            font-family: "Inknut Antiqua", serif;
            color: $gray-secondary;
        }
    }

    .subtitle {
        width: 100vw;
        min-width: 50%;
        height: 25vw;
        background: $background-color;
        display: flex;
        flex-direction: row;

        .subtitle-statement {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 12%;
            left: 13%;

            .statement {
                width: 50vw;
                font-size: 2.7vw;
            }

            .sub_statement {
                margin-top: 2%;
                font-size: 1vw;
                color: rgba(0, 0, 0, 0.562);
                width: 30rem;

                &:hover {
                    color: white;
                    transition: all .1s ease-in-out;
                }
            }

            .join-btn-arrows {
                display: flex;
                flex-direction: row;
                align-items: center;

                .join-us {
                    width: 14vw;
                    height: 3.2vw;
                    margin-top: 2.2vw;
                    border-radius: 30rem;
                    text-align: center;
                    font-weight: 600;
                    font-size: 1vw;
                    background-color: $primary-color;

                    &:hover {
                        background-color: #7D5A50;
                        color: white;
                        border: 1px solid white;
                        transition: all .1s ease-in;
                    }

                }

                img {
                    width: 22vw;
                    height: auto;
                    margin-top: 2.2vw;
                    margin-left: 3vw;
                }
            }
        }

        .card {
            background: $secondary-color;
            width: 24vw;
            height: 31.4vw;
            border: 2px solid black;
            border-radius: 20px;
            position: relative;
            left: 13%;
            margin-top: 1.8%;
            z-index: 998;

            .img-box {
                background-color: white;
                width: 19vw;
                height: 14vw;
                display: flex;
                margin: 0 auto;
                margin-top: 8.5%;
                border-radius: 20px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card-content {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                gap: 1vw;

                h4 {
                    font-size: 1.2vw;
                    margin-top: 8%;
                    text-align: center;
                    color: rgb(255, 255, 255);
                }

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    cursor: context-menu;

                    .heading {
                        padding: 6px;
                        font-size: 1.1vw;
                        font-weight: 600;
                        color: rgb(221, 221, 221);
                    }

                    .semi-content {
                        font-size: 1vw;
                        margin-left: 1vw;
                        padding: .55vw;
                        color: rgba(172, 172, 172, 0.575);

                        &:hover {
                            color: rgb(255, 255, 255);
                            transition: all .1s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    .hero-footer {
        width: 100vw;
        min-width: 50%;
        height: 10vw;
        background: $secondary-color;
        display: flex;
        align-items: center;

        .black-div {
            width: 47vw;
            min-width: 20rem;
            height: 6vw;
            background: black;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 13%;

            h3 {
                color: $secondary-color;
                font-family: 'inter';
                font-size: 1.1vw;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

// About section
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7%;
    cursor: pointer;

    .adout-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #7D5A50;
        width: 10vw;
        height: 3.5vw;
        box-shadow: 8px -8px black;

        .title {
            font-size: 1.4vw;
            color: white;
        }
    }

    .owner-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
        gap: 4vw;

        .lead {
            background: url(./assets/Hands-holding.jpg);
            filter: drop-shadow(20px -20px 4px #4444);
            border: 2px solid #000;
            background-repeat: center;
            background-size: cover;
            order: 1;
            justify-self: center;
            width: 16vw;
            height: 16vw;

            &:hover {
                transition: all .2 ease-in;
                filter: brightness(.8);
                opacity: 1;
            }

            p {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 1.5vw;
                font-weight: 600;
                height: 16vw;
                opacity: 0;

                &:hover {
                    transition: all .2 ease-in;
                    color: rgb(0, 0, 0);
                    opacity: 1;
                }
            }
        }

        .admin {
            background: url(./assets/Hands-holding.jpg);
            filter: drop-shadow(20px 20px 4px #4444);
            border: 2px solid #000;
            background-repeat: center;
            background-size: cover;
            order: 1;
            justify-self: center;
            width: 16vw;
            height: 16vw;

            &:hover {
                transition: all .2 ease-in;
                filter: brightness(.8);
                opacity: 1;
            }

            p {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 1.5vw;
                font-weight: 600;
                height: 16vw;
                opacity: 0;

                &:hover {
                    transition: all .3 ease-in;
                    color: rgb(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }

    .mission {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h3 {
            text-align: center;
            margin-top: 5%;
            margin-bottom: 2%;
            font-size: 2vw;
            font-family: "inknut antiqua";
            font-weight: 500;
        }

        .mission-statement {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55%;
            height: 18vh;
            border: 2px solid black;
            border-radius: 10px;
            padding: 3rem;
            background: $primary-color;

            p {
                font-size: 1.4em;
            }
        }
    }
}

// Our work
#Ourwork {
    height: 2rem;
}
.ourwork-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ourwork {
        h3 {
            text-align: center;
            margin-top: 4%;
            margin-bottom: 1%;
            font-size: 2vw;
            font-family: "inknut antiqua";
            font-weight: 500;
        }

        .works {
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;
            background: rgba(214, 214, 214, 0.342);
            border-radius: 7px;
            padding: 1rem;

            ul {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                text-align: center;
                overflow-y: auto;
                height: 20vw;
                box-sizing: content-box;
                cursor: pointer;

                li {
                    font-size: 2rem;
                    width: 100%;
                    justify-content: center;
                    list-style: none;
                    color: rgb(0, 0, 0);
                    font-size: large;
                    background: rgb(216, 216, 216);
                    border: 1px solid rgb(216, 216, 216);
                    border-radius: 2px;
                    margin-bottom: 4px;
                    padding: 8px;

                    &:hover {
                        transition: all .2 ease-in;
                        border: 1px solid black;
                        background-color: #FCDEC0;
                    }
                }
            }

            /* Hide scrollbar */
            ::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }
        }
    }

    // work images
    .images {
        margin-top: 4rem;
        margin-bottom: 1rem;
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: calc(70% + 8px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    
        img {
            width: 17vw;
            height: 17vw;
            margin: 4px;
            scroll-snap-align: start;
            border: 1px solid black;
    
            &:hover {
                border: 2px solid black;
                transition: all .1s ease-in-out;
            }
        }
    
        // scrollbar
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #FCDEC0;
            border-radius: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: #7D5A50;
            border-radius: 5px;
        }
    }
    
}

// gallery
#Gallery {
    height: 3rem;
}
.section-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;

    .gallery-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #7D5A50;
        width: 10vw;
        height: 3.5vw;
        box-shadow: 8px -8px black;

        .title {
            font-size: 1.4vw;
            color: white;
        }

    }

    .gallery-images {
        margin-top: 4%;
        margin-bottom: 1%;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
        gap: 1rem;
        width: 90%;
        height: 40vh;
        overflow-x: auto;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;

        img {
            width: 17vw;
            height: 17vw;
            padding: 4px;
            scroll-snap-align: start;
            border: 1px solid black;
            cursor: auto;

            &:hover {
                border: 2px solid black;
                transition: all .1s ease-in-out;
            }
        }

        // scrollbar
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #FCDEC0;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #7D5A50;
            border-radius: 5px;
        }
    }
}

// footer
.section-footer {
    background-color: #000;
    opacity: .8;

    .footer-head {
        width: 100%;
        height: 10vh;
        background: #B4846C;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 70%;

        h3 {
            display: flex;
            justify-content: flex-start;
            font-size: 1.5vw;
            color: rgb(0, 0, 0);
        }

        .media {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 1rem;

            .social-media {
                display: flex;
                align-items: center;
                width: 2.5vw;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

    .footer-body {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2vw;

        .log-icons {
            width: 20vw;
            height: 20vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            img {
                width: 28vw;
            }
        }

        .address {
            width: 20vw;
            height: 20vw;
            background: rgb(231, 231, 231);
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(0, 0, 0);
        }

        .contact {
            width: 20vw;
            height: 20vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;

            .contact {
                width: 20vw;
                height: 12vh;
                background-color: whitesmoke;
                color: black;
            }
        }
    }
}

// top button
.top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background: #FCDEC0;
    border: 2px solid black;
    cursor: pointer;
    visibility: hidden;
    transition: visibility 0.3s ease;
    z-index: 3;

    a {
        text-decoration: none;
        color: #000000;
    }

    &.visible {
        visibility: visible;
        transition: all .1s ease-in-out;
    }
}
// media screens (
// ms: 320, mm: 375, ml: 425, 
// tablet: 768, 
// laptop:1024, laptop large: 1440)
/* Mobile screens (ms: 320, mm: 375, ml: 425) */
/* Mobile screens (max-width: 320px) */
@media screen and (max-width: 320px) {
    .nav-title {
        width: 100%;
        padding: 0 1rem;
        .logo-container {
            width: 3rem;
        }
        .nav-list {
            display: flex;
            justify-content: flex-end;
            .list {
                .navs {
                    margin: auto 6px auto 6px;
                    font-size: .5rem;
                }
            }
        }
        .donate-btn {
            .donate {
                border-radius: 10px;
                width: 3rem;
                height: .9rem;
                font-size: 8px;
            }
        }
    }

    .Hero-section {
        .title-spans {
            width: 100%;
            padding: 0 1rem;
        }

        .subtitle {
            width: 100%;
            padding: 0 1rem;
            .subtitle-statement {
                width: 100%;
            }
        }
    }
}

/* Mobile screens (min-width: 321px) and (max-width: 374px) */
@media screen and (min-width: 321px) and (max-width: 374px) {
    /* Write appropriate media queries for this range if needed */
}

/* Mobile screens (min-width: 375px) and (max-width: 425px) */
@media screen and (min-width: 375px) and (max-width: 425px) {
    /* Write appropriate media queries for this range if needed */
}

/* Tablet screens (tablet: 768) */
@media screen and (min-width: 426px) and (max-width: 768px) {

    .nav-title {
        .nav-list {
            .list {
                .navs {
                    padding: .8vw .8vw;
                    margin: auto 24px auto 24px;
                    font-size: 1.6vw;
                }
            }
        }
        .donate-btn {
            .donate {
                height: 2vh;
                padding: 6px;
                font-size: 1.1vw;
            }
        }
    }

    .Hero-section{
        .subtitle{
            .card{
                left: 0;
                border-radius: 10px;
                .img-box{
                    border-radius: 10px;
                }
            }
        }
    }

    .about-section{
        .about-title{
            box-shadow: 4px -4px black;
        }
        .owner-details{
            .lead{
                width: 10rem;
                height: 10rem;
                p{
                width: 10rem;
                height: 10rem;
                }
            }
            .admin{
                width: 10rem;
                height: 10rem;
                p{
                    width: 10rem;
                    height: 10rem;
                }
            }
        }

        .mission{
            .mission-statement{
                width: 80%;
    
                p{
                    font-size: 1.055rem;
                }
            }
        }
    }  

    .ourwork-section{
        .ourwork{
            h3{
                margin-top: 2%;
            }
            .works{
                ul{
                    height: 28vw;
                    li{
                        font-size: 1.7vw;
                    }
                }
            }
        }
    }

    .section-gallery{
        .gallery-title{
            box-shadow: 4px -4px black;
        }
        .gallery-images{
            width: 78%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .section-footer{
        .footer-head{
            height: 6vh;

            h3{
                font-size: 2.2vw;
            }

            .media{
                .social-media{
                    width: 3.2vw;
                }
            }
        }
    }

    .top{
        width: 6.5vw;
        height: 6.5vw;
    }
}

/* Laptop screens (laptop: 1024) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-title {
        .nav-list {
            .list {
                .navs {
                    padding: .8vw 1vw;
                    margin: auto 24px auto 24px;
                    font-size: 1.2vw;
                }
            }
        }
        .donate-btn {
            .donate {
                height: 2vh;
                padding: 6px;
                font-size: 1.1vw;
            }
        }
    }

    .about-section{
        .mission{
            .mission-statement{
                width: 80%;
                .statement{
                    font-size: 2vw;
                }
            }
        }
    }

    .ourwork-section{
        .ourwork{
            .works{
                ul{
                    height: 25vw;
                }
            }
        }
    }

    .section-gallery{
        .gallery-images{
            width: 75%;
            overflow-x: hidden;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            
        }
    }

    .section-footer{
        .footer-head{
            height: 8vh;

            h3{
                font-size: 2vw;
            }

            .media{
                .social-media{
                    width: 3vw;
                }
            }
        }
    }

    .top{
        width: 5vw;
        height: 5vw;
    }
}

/* Larger laptop screens (laptop large: 1440) */
@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .ourwork-section {
        .images {
            img {
                width: 18vw;
                height: 18vw;
            }
        }
    }

    .section-gallery {
        .gallery-images {
            width: 75%;
            overflow-x: hidden;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}